h1 {
  font-size: calc((4.2 - 1) * 1.2vw + 1rem);
  line-height: 1.2em;
  max-width: 25ch;
  @apply font-medium  pb-12;
}

h2 {
  font-size: calc((3.2 - 1) * 1.2vw + 1rem);
  line-height: 1.2em;
  @apply leading-normal;
}

h3 {
  font-size: calc((2.2 - 1) * 1.2vw + 1rem);
}

p {
  font-size: 28px;
  line-height: 1.7em;
  @apply pb-5;
}

h4 {
  @apply text-4xl uppercase;
}

h5 {
  font-weight: 500;
  @apply text-xl uppercase;
}

h6 {
  @apply font-semibold text-xl pt-2 pb-3;
}

small {
  display: block;
  font-size: 20px;
}

li.nav {
  font-size: 20px;
  letter-spacing: 1.2px;
  padding-right: 3.5vw;
  line-height: 0;
  @apply leading-normal font-semibold pl-5 uppercase;
}
